################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/uMAD/uMAD/uMAD.Windows
/uMAD/uMAD.sln.ide
